<h1>ABOUT</h1>
<br>
<a href="https://www.w3schools.com">w3schools</a>
<br>
<a href="https://www.rubyonrails.org/">Rails Tutorial</a>
<br>
<a href="https://pragprog.com/book/rails51/agile-web-development-with-rails-51">Agile Web Development text</a>
