<div class="w3-bar w3-aqua">
  <a href="/my_pages/home.html" class="w3-bar-item w3-button">Home</a>
  <a href="/users.html" class="w3-bar-item w3-button">Users</a>
  <a href="/microposts.html" class="w3-bar-item w3-button">Micropost</a>
  <a href="/my_pages/about.html" class="w3-bar-item w3-button">About</a>
  <a href="/my_pages/help.html" class="w3-bar-item w3-button">Help</a>
  
</div>
<h1>HOME</h1>
<p>Welcome to my home page!</p>
